body {
	background-color:#064C53;
	color:white;
}

h1 {
	font-size:100px;
	text-align:center;
	font-style: bold;
}

p {
	font-size: 40px;
	font-style: normal;
}

#slogan {
	color:#EA9500;
	font-size: 60px;
	text-transform:uppercase;
	text-align:center;
	font-style:italic;
	}

div {
	width:300px;
	height:50px;
	border:2px solid black;
	background: #EA9500;
	color: white;
	font-size: 50px;
	text-align: center;
	display: inline-block;
	margin: 20px;
}